<%
<!-- -->
let calls_row = {speaker1: 'Sally', speaker2: 'Rep Joe'};
%>
<form action="/calls" method="post">

  <div class="form-group">
    <label for="speaker1"><%= calls_row.speaker1 %></label>
    <input type="text" class="form-control" placeholder="enter name" id="speaker1" name="speaker1">
  </div>

  <div class="form-group">
    <label for="speaker2"><%= calls_row.speaker2 %></label>
    <input type="text" class="form-control" placeholder="enter name" id="speaker2" name="speaker2">
  </div>

  <button class="btn btn-primary" type="submit">Update Speakers</button>

</form>
<br><br>
<%
let messages = [
  {
    "id": "1",
    "speaker": 1,
    "body": "My name is Bob and my phone number is 666-555-4444."
  },
  {
    "id": "2",
    "speaker": 2,
    "body": "I don't care what your name is."
  },
  {
    "id": "3",
    "speaker": 1,
    "body": "I need eggs."
  },
  {
    "id": "4",
    "speaker": 2,
    "body": "I have arranged to send 300 eggs. Good bye."
  }
]
%>

<form action="/update-individual-call" method="post">
<% for (let i = 0; i<messages.length; i++) { %>
  <div class="form-group">
    <label for="transcript-<%= messages[i].id %>"><%= messages[i].speaker === 1 ? calls_row.speaker1 : calls_row.speaker2 %></label>
    <textarea class="form-control" rows="8" id="transcript-<%= messages[i].id %>" name="transcript-<%= messages[i].id %>"><%= messages[i].body %></textarea>
  </div>
<% } %>
  <button class="btn btn-primary" type="submit">Update Conversation</button>

</form>
<!--
- calls details page: show will have 2 functions:
1) update speaker name on save
2) show / allow for editing of conversation
  a) sort through the array by ID (incrementing) (or get a sorted array)
  b) loop through the array and build the interface as you go, so for each iteration, show a label (e.g. rep: Bob) and a text area with that segment of the conversation in it


- transcript will be provided from server
- Watson file will be transcribed for us by Speaker
- always 2 speakers; prerecorded and preparsed
- change the callers from speaker1 and speaker2 to customer name and rep name
- proof of concept: edit speakers
- later, we *would* also allow editing of text, but now -->